@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Teko:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    user-select: none;
}

/* style générale du corps */

body{
    background-image: url(../images/back2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Le style de la fenêtre de chargement */
.loading_content {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgb(240, 246, 246);
    z-index: 999;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
    text-align: center;
    padding-top: 25vh;
}

.charge_fini {
    opacity: 0;
    visibility: hidden;
}

.chargement {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 2px solid rgb(13, 200, 200);
    width: 25px;
    height: 25px;
    border-top-color: #132333;
    border-radius: 50%;
    animation: chargeur 2s linear infinite;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.icon_app{
    margin-top: 100px;
    
}

@keyframes chargeur {
    0% {
        transform: rotate(0deg) scale(1);
        border-top-color: #000066;
    }
    25% {
        border-top-color: #000066;
    }
    50% {
        transform: rotate(360deg) scale(1);
        border-top-color: #000066;
    }
    75% {
        border-top-color: #000066;
    }
    100% {
        transform: rotate(720deg) scale(1);
        border-top-color: #000066;
    }
}

/* fin des styles de chargement de la page */

.corps_app{
    background-color: #41360dee;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;
    text-align: center;
    padding-top: 100px;
}

/*la partie menu ... */
.bar_menu_haut{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(86, 35, 82);
    display: grid;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 20px;
    grid-template-columns: 32px 150px 1fr 50px 200px;
    align-items: center;

}

.bar_menu_haut img{
    background-color: white;
    padding: 3px;
    width: 34px;
}
.bar_menu_haut .app_title{
    color: white;
    text-align: left;
    padding: 3px 3px 3px 3px;
    background-color: red;
    border-radius: 2px;
    text-align: center;
}
.bar_menu_haut .searchForm{
    background-color: rgb(86, 35, 82);
    padding-left: 20px;
    text-align: center;
    
}
.bar_menu_haut .searchForm input{
    font-size: 1.1em;
    padding: 5px;
    text-align: center;
    outline: none;
}

.bar_menu_haut .searchForm .search{
   width: 90%;
}

.micro{
    color: white;
    background-color: rgb(51, 46, 46);
    border-radius: 50%;
    padding: 10px 0px 10px 0px;
    margin: 0px 7px 0px 7px;
    cursor: pointer;
}

.micro:hover{
    background-color: rgb(21, 20, 20);
    color: gold;
}



marquee{
    color: white;
    font-family: cursive;
}

/*travaile sur tout les produits, le style */

.tous_les_produits{
    border: 1px rgb(85, 85, 18) solid;
    width: 98%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

/* mise en place du style d'un produit */
.produit{
    background-color: #6f47a3;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    padding: 1px;
    align-items: center;
    cursor: pointer;
}

.produit img{
    width: 100%;
    min-width: 150px;
    margin: 0 auto;
    text-align: center;
}
.produit_details{
    padding: 5px;
}

.pdt_dtails{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px 10px 10px 10px;
}

.nom_produit{
    color: gold;
    padding: 25px 0px 10px 0px;
    font-weight: bold;
}
.prix_produit{
    font-family: Teko;
    font-size: 1.4em;
}
.devise{
    font-size: 0.5em;
    font-weight: bold;
    text-transform: lowercase;
}


/*pied du site */
footer{
    background-color: rgb(86, 35, 82);
    padding: 20px;
    margin-top: 15px;
}
.droit{
    color: white;
    padding-top: 15px;
    font-family: 'Orelega One';
}

/* le responsive de la page */

/* responsive du menu fixe */

@media screen and (max-width:900px) {
    marquee{
        display: none;
    }
    .bar_menu_haut{
        
        grid-template-columns: 32px 150px 1fr 50px;
    
    }
}

@media screen and (max-width:650px) {
    .bar_menu_haut{
        padding-left: 20px;
        padding-right: 20px;
        grid-template-columns: 32px 1fr 50px;
    
    }
    .bar_menu_haut .app_title{
        display: none;
    }
}
/* fin du responsive du menu */

/* responsive des produits */

@media screen and (max-width:1500px) {
    .tous_les_produits{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

@media screen and (max-width:1000px) {
    .tous_les_produits{
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (max-width:670px) {
    .tous_les_produits{
        grid-template-columns: 1fr;
    }
    
}

/*fin du responsive des produits */



/* mise en forme de form */

